.contenedor-inicio {
    background: black;
    text-align: center;
    background-color: black;
    
}

.imagen {
    width: 80%;
    padding: 10px 10px;
    background-color: black;

    
}

.link-clima {
    font-size: 200%;
    background-color: black;
}

.link-facebook {
    font-size: 200%;
    background-color: black;
   
}






